[2015-09-29 00:35] a-axton opened #2 "babel-runtime may be required to run properly"
I was running into an issue importing some of my files, was getting the error:

    Module not found: Error: Cannot resolve module 'babel-runtime/helpers/interop-require-default'

The transform 'optional=runtime' requires the babel-runtime package to work properly, more here https://babeljs.io/docs/usage/runtime/

[2015-09-29 03:07] jhabdas commented on #2
Hi Andy. What happens if you install babel-runtime module to the project?

npm install babel-runtime --save-dev
On Mon, Sep 28, 2015 at 7:35 PM Andy Axton <notifications@github.com> wrote:

[2015-09-29 03:11] a-axton commented on #2
it resolved my error after I installed, forgot to mention I was using node v4.1.1

[2015-09-29 03:12] jhabdas commented on #2
Cool
On Mon, Sep 28, 2015 at 10:11 PM Andy Axton <notifications@github.com>
wrote:

[2015-09-30 20:21] jhabdas commented on #2
If I hear anymore reports of this issue I'll consider adding the dependency to the manifest. Thanks again!

[2015-09-30 20:21] #2 closed

[2015-10-02 13:22] patrickhaug opened #3 "Ipa Name"
How do I change the ipa Name ? It's always App. Thanks

[2015-10-02 17:42] ulrikaugustsson opened #4 "Missing modules"
Getting this when I run `npm start`.
Node 4.0.0,
npm 3.3.3,
react-native 0.11.4

[code]

[2015-10-02 19:59] jhabdas commented on #4
Thanks for your report @ulrikaugustsson and sorry to hear about your troubles. I installed node `v4.0.0`, which shipped with npm 2.14.2` and had no problems installing and running the app. Giving you're using a beta version of npm you may have more luck using a version of npm prior to `3.x`, which is [currently in beta](https://github.com/npm/npm/releases/tag/v3.3.3). Cheers and good luck.

[2015-10-02 19:59] #4 closed

[2015-10-02 20:10] jhabdas commented on #3
Hi @patrickhaug. If you're looking to rename your app - and, as a result, the `ipa` file - there are [resources out there](http://stackoverflow.com/questions/24031576/what-is-the-best-method-to-rename-project-name-in-every-where-from-xcode-5#24032022) to help on SO. Typically this involves using Xcode to rename the project, but can be done more surgically [like I did for Lumpen Radio](https://gith

[2015-10-02 20:10] #3 closed

[2015-10-02 20:13] jhabdas commented on #2
@a-axton went ahead and added `babel-runtime` to the manifest since I'm referencing it in the webpack config

[2015-10-11 02:35] tigershen23 opened #5 "npm install errors on fresh clone of repo"
`npm install` on a fresh clone of the repo results in the following error:

[code]

I believe the cause is this line in `package.json`:
`16:  "react-native-webpack-server": "philikon/react-native-webpack-server#bundle_rn012",`
where `#bundle_rn012` is not a valid revision of that package. I've checked their [GH repo](https://github.com/mjohnston/react-native-webpack-server) and can't seem to find

[2015-10-11 05:12] jhabdas commented on #5
You should now be able to use the 0.7.1 NPM-managed release of react-native-webpack-server instead of the fork I was using, which was nuked unexpectedly early. Will close with update to package.json

[2015-10-11 05:18] #5 closed

[2015-10-11 05:20] jhabdas commented on #5
All set! Sorry for the trouble!

[2015-10-17 16:39] 0xR opened #7 "Missing modules in NPM 3.3.8"
I'm having the same issue as #4. NPM is not in beta anymore, I'm trying to figure out what is missing. My output looks something like this:

[code]

[2015-10-17 17:27] jhabdas commented on #7
Thanks for your report. Yep looks like 3.x is indeed [out of beta](http://blog.npmjs.org/post/129378362260/npm-weekly-29-npm-3-out-of-beta-nick-out-of-the). I ran `npm install -g npm@latest` and got `v3.3.8`. I'll noodle around a little and get back to you.

[2015-10-17 20:50] 0xR commented on #7
I tried that but I'm also having issues doing that. Currently I have downgraded npm which makes the webpack errors go away. However I still can't load the js bundle in my app. I'll look more into it tomorrow.

[2015-10-17 21:54] niftylettuce opened #9 "What's your email?"
Can I send you an email?  Or maybe you can toss me a note about something?

niftylettuce@gmail.com

[2015-10-18 01:02] jhabdas commented on #9
Hi. It's encrypted on http://habd.as. Just hit the hamburger. Happy to hear
from you.
On Sat, Oct 17, 2015 at 4:54 PM niftylettuce <notifications@github.com>
wrote:

[2015-10-18 01:04] #9 closed

[2015-10-18 12:10] 0xR commented on #7
Today I can get the server running with npm 2, but I'm running into https://github.com/mjohnston/react-native-webpack-server/issues/65 which means that android is just not using the webpack server port. I can't figure out how to fix this. Therefore we can conclude that we can't run webpack on android until https://github.com/facebook/react-native/issues/1429 is fixed.

[2015-10-18 14:20] jhabdas commented on #7
Thanks for digging in and leaving some breadcrumbs, Ruben.

[2015-10-21 04:08] jhabdas commented on #7
Looks like the breadcrumbs paid off! Here's a workaround until RN integration with Webpack improves and the dust settles:

https://github.com/mjohnston/react-native-webpack-server/issues/65#issuecomment-149597280

As for the NPM 3 issue, I haven't had time to dig. But I'm sure we all will eventually. ;)

[2015-10-26 16:41] niftylettuce opened #10 "Android needs updated"
Per <https://github.com/facebook/react-native/issues/2983> we need a fresh `react-native init` on the Android folder.  Otherwise you can't run it.

[2015-10-26 16:45] jhabdas commented on #10
I'm on it.

[2015-10-26 17:09] jhabdas commented on #10
Just dropped https://github.com/jhabdas/react-native-webpack-starter-kit/commit/d6ea6992d3e9fae8b6f4d6cd888a0d35a9d30bcd. I'm not set-up to test Android yet, so I'm hoping someone can confirm this did the trick for them before we close.

[2015-10-26 17:50] niftylettuce commented on #10
@jhabdas See <https://github.com/mjohnston/react-native-webpack-server/issues/65#issuecomment-151222398> you might want to add this to `package.json` so that people can run Android on device with this.

[2015-10-26 18:14] jhabdas commented on #10
Done. Updated README with credit and links.

[2015-10-28 16:08] #10 closed

[2015-10-31 21:30] jhabdas commented on #7
Eventually arrived and the NPM 3 issues have been resolved with the latest release https://github.com/jhabdas/react-native-webpack-starter-kit/releases/tag/v1.13.2. Thanks for reporting the issue.

[2015-10-31 21:30] #7 closed

[2015-11-05 10:24] Ehesp opened #11 "Babel error on npm start"
After running `npm install`, then running `npm start` I get the following error:

[code]

Node 5.0.0
NPM 3.3.9

[2015-11-05 10:34] jhabdas commented on #11
Whoops! Thanks for the report. That started when I bumped Babel to v6. But it's happening for me too now that I've blown away my `node_modules`. Please feel free to revert to the last versioned release for the time being.

[2015-11-05 10:39] jhabdas commented on #11
Here's a possibly related issue: https://github.com/mjohnston/react-native-webpack-server/issues/121

[2015-11-05 10:45] Ehesp commented on #11
I've reverted back, the build works but I'm now getting the error on Android load:

![image](https://cloud.githubusercontent.com/assets/842078/10966266/5db54a6a-83aa-11e5-8979-e7e3f4943656.png)

[2015-11-05 10:47] jhabdas commented on #11
That RedBox error doesn't say a whole lot on its own. What did you revert back to, exactly?

[2015-11-05 10:48] Ehesp commented on #11
I reverted the changes in this commit:

https://github.com/jhabdas/react-native-webpack-starter-kit/commit/0622316047825bafdd8bbd219d8fe3f4e75f4e12

[2015-11-05 11:00] jhabdas commented on #11
Yeah, bummer. I did a `git reset --hard v1.13.2` and got the same. Looks like something's borked in `react-native-webpack-server` following the update to `react-native@^0.13.0` and NPM 3. It'll take some more digging.

[2015-11-05 11:40] Ehesp commented on #11
Cheers - let me know how you get on, will do some digging myself.

[2015-11-05 17:17] manuelmazzuola commented on #11
Any updates ?

[2015-11-05 17:49] jhabdas commented on #11
Not yet. Taking a look now. @manuelmazzuola are you building iOS or Android?

[2015-11-05 19:06] jhabdas commented on #11
Resoled with https://github.com/jhabdas/react-native-webpack-starter-kit/releases/tag/v1.13.5. The changes required were minimal. Please set project as your upstream branch and merge the corresponding tag to your project to resolve the issue. Thanks again.

[2015-11-05 19:11] jhabdas commented on #11
I lied. Use [v0.13.6](https://github.com/jhabdas/react-native-webpack-starter-kit/releases/tag/v0.13.6).

[2015-11-05 20:14] Ehesp commented on #11
@jhabdas Unfortunately getting the same problem. Also with the changes it pulled Babel 6 back in (which threw the original error). Reverted back to 5, and now I'm still getting the "App has not been registered" error.

Also tried a fresh pull of the repo, following the installation instructions.

[2015-11-06 00:12] jhabdas commented on #11
@Ehesp Based on some research this morning I discovered this issue isn't a result of the Babel 6 upgrade, so that code stays and you'll see it in newer versions. What I didn't realize in closing this issue is that fresh clones were still busted. I'm going to update the `README`, but here's the workaround:

[code]

Seems to me this may be an issue with NPM 3, so I'm hoping whatever the issue is wil

[2015-11-06 08:40] Ehesp commented on #11
Unfortunately that didn't work :(

Same issue/error message. Also I tried to build for iOS (no knowledge of iOS dev at all) and it's got the following error:

![image](https://cloud.githubusercontent.com/assets/842078/10992861/0f43a21a-8462-11e5-9763-cb516418d9a7.png)

[2015-11-06 14:43] jhabdas commented on #11
That's strange. I'm reopening the issue for debugging purposes. To try and reproduce your issue more closely I did an `nvm install v5.0.0 && npm install -g npm@3.3.9` and then followed the updated install instructions from the README (including the workaround) and, once the workaround was applied, didn't have any issues running the app or starting it in the iOS simulator.

@Ehesp could you try the

[2015-11-06 15:23] Ehesp commented on #11
Okay followed the instructions to the letter.

Works on iOS, but not Android (with the same error).

![image](https://cloud.githubusercontent.com/assets/842078/11000548/58e070c8-849a-11e5-8deb-c9688adea8ea.png)

[2015-11-06 15:30] jhabdas commented on #11
Excellent. Please feel free to open a separate issue for Android, thought it's likely someone else will do it (or just fix it with a PR in time). A lot of stuff is moving in the React Native and Node spaces right now so I'm going to let this one sit on the back burner to see if it doesn't get cleared up with the upgrade to RN `0.14`. Thanks for your persistence!

[2015-11-06 15:30] #11 closed

[2015-11-19 01:39] cesarferreira opened #12 "Not live reloading"
Hey, first of all, awesome work! Thanks for sharing it with the world.

What I'm doing:
after installing the dependencies...

1. Open the `.xcodeproj`
2. Run `npm start`
3. Run the app on the emulator
4. Enable live reloading
5. Changes to the code are not reflected, I need to `cmd+r` to see them

Am I missing something?

[2015-11-19 04:06] jhabdas commented on #12
Looking at [Facebook's Live Reload doc](https://facebook.github.io/react-native/docs/debugging.html#live-reload) it looks like the reload feature works when "changes are made to the JavaScript", which I presume means either the `index.ios.js` or `index.android.js` files are saved while the React Packager is running.

The way the Webpack Dev Server works is the two `index` files are generated as op

[2015-11-19 04:06] #12 closed

[2015-11-27 00:13] wbashir opened #13 "Unable to create 'index.ios.js' file"
I am unable to successfully start the server and its listening on port `8080`. On running the iOS simulator, the webpack config fails with an abrupt error:

[code]

It did however attempt to do something with the log looking something like this:

[code]

[2015-11-27 00:24] jhabdas commented on #13
Looks like you have something running on port 8081 already, possibly a hanging process. You can check by terminating the start script used to run this kit then, at a bash prompt, running "lsof -i 8081" to find the Process ID of whatever might be conflicting and then "kill" the process by PID, e.g. "kill -9 2600".  Let me know how it goes.

[2015-11-27 00:30] wbashir commented on #13
There seems to be another terminal window that pops up when I run the XCode project. I believe that terminal session might be the issue. Can i safely kill the terminal while the simulator is running?

[2015-11-27 00:33] wbashir commented on #13
Never mind!! Looks like it worked this around as I made sure no terminal were running. Thanks for this wonderful starter kit, its awesome!

[2015-11-27 00:33] #13 closed

[2015-11-27 00:34] jhabdas commented on #13
Kudos to you. Have fun with it. Love to hear about anything you create! Happy :turkey: day!

[2015-11-27 00:36] jhabdas commented on #13
Also, be sure to run "npm start" in a terminal window to start the webpack dev server and react package before running the simulator. Then, when you run the simulator from Xcode, it should detect the running packager instance on 8081 and skip opening another terminal window.

[2015-11-27 18:06] diffractometer commented on #13
@wbashir I get annoyed by the second window so I run `react-native start` from my main terminal window, XCode auto detects if it's running or not so you don't get into the situation where you have two terminal windows popping up...

[2015-11-27 18:27] wbashir commented on #13
@diffractometer Awesome! man this helped alot

[2015-11-27 19:12] jhabdas commented on #13
@wbashir @diffractometer because this kit runs the packager and webpack dev server with `npm start` it shouldn't be necessary to close a secondary window as the packager should detect it's already running and suppress opening a terminal window when the simulator is run. If you're experiencing something different please consider upgrading to the latest version of this kit and let me know if you're

[2015-11-27 20:39] diffractometer commented on #13
@jhabdas der should have realized that. @wbashir. That is just the default behavior I saw when you setup a new react native app (0.14.1), so something to be aware of...

[2015-11-27 21:12] jhabdas commented on #13
@diffractometer Thanks for the additional info. I've saw a similar issue once in the past, which caused me to fork the `react-native-webpack-server` (RWNS) dependency once, though the issue was resolved and I [nuked the fork](https://github.com/jhabdas/react-native-webpack-starter-kit/tree/v1.13.2).

Based on our discussion it's still not clear to me if terminal pop-ups are occurring while running

[2015-11-30 23:01] wbashir commented on #13
@jhabdas I can confirm this happened to me again in the following sequence.

1) `npm start` (Port 8080) - Session 1
2) Run the simulator in XCode
3) Another terminal pops up (Session 2).
4) Session 1 fails with port 8081 is being used and the simulator displays 'Red' warning.

[2015-12-01 04:34] jhabdas commented on #13
Thanks for the info. To help debug I'll need to know the version of the
starter kit are you using. Xcode and Xcode CLI tools versions as well. And
confirmation the packager doesn't start automatically after Webpack after
some time when "npm start" is run (the expected behavior).
On Mon, Nov 30, 2015 at 5:01 PM Warsame Bashir <notifications@github.com>
wrote:

[2015-12-01 04:38] jhabdas commented on #13
Thanks for the info @wbashir. To help debug I'll need to know the version of or latest commit of the starter kit you're using. Xcode and Xcode CLI tools versions as well. And confirmation the packager doesn't automatically start after Webpack dev server finishes following issuance of `npm start` at the bash prompt.

[2015-12-02 02:41] wbashir commented on #13
Latest Commit:

[code]
XCode Version
`XCode 7.1`

Xcode CLI Tools Version: I was unable to confirm this information with `EL Capitan` but running the following command `xcode-select -p` I got back `/Applications/Xcode.app/Contents/Developer` So i now I have the CLI tools installed. I noticed after starting at the bash prompt (`npm start`), and waiting for a while a message is displayed stating the

[2015-12-02 02:59] jhabdas commented on #13
That particular commit was made outside this kit as as the author is [not a direct contributor](https://github.com/jhabdas/react-native-webpack-starter-kit/graphs/contributors) nor does the commit appear in my tree. If you clone a fresh copy of this kit and see the issue I'd be happy to assist further. Alternatively, you may want to try setting my kit as the upstream remote for the project you're

[2015-12-02 19:20] wbashir commented on #13
@jhabdas  I am sorry I was working in the wrong repo when I ran `git log`. I will update my comment and/or reply to show the latest commit I am working with on a clone for this particular repo.

[2015-12-03 00:05] jhabdas commented on #13
Cool
On Wed, Dec 2, 2015 at 1:21 PM Warsame Bashir <notifications@github.com>
wrote:

[2015-12-04 03:17] wbashir commented on #13
[code]

After waiting for the webpack dev server to start, I get an error:

[code]

[2015-12-04 04:02] jhabdas commented on #13
To help debug I ran through a fresh clone and install of the app on node `v4.1.0` and npm `3.3.0` on my Air with El Capitan. The only problem I ran into were some missing dependencies from npm on first install, prompting me to run an `npm update` to get the rest of the deps. Upon running `npm start` I see both the dev server and react packager start:

![screen shot 2015-12-03 at 9 51 56 pm](https:

[2015-12-04 14:58] wbashir commented on #13
@jhabdas Perfect, thanks for this information. It gives me some context reference as I had similar issues with another `react-native` app that was caused by my stale environment (node & npm)

[2015-12-05 04:06] bradynapier opened #20 "Can not get this to even run"
I can not get this to do a thing.  I did the basics, ran , test and i get a white screen with loading from localhost:8080 and nothing else.. nothing happens.

[2015-12-05 04:06] bradynapier commented on #20
![image](https://cloud.githubusercontent.com/assets/8041420/11605932/8a8ce622-9ac2-11e5-8f5d-83579aa66853.png)

[2015-12-05 04:12] bradynapier commented on #20
I noticed others in the closed issues seem to have the exact same issue.  I cloned this 2 hours ago from this kit so it should be the absolute latest.  I start the webpack server then start simulator and a second pops up immediately.

[2015-12-05 21:37] jaulz opened #21 "Update package.json"
Unfortunately you missed to update your package.json and change the version of react-native to 0.16 :-)

[2015-12-05 21:42] jaulz commented on #21
Thanks for the quick fix :+1:

[2015-12-05 21:42] #21 closed

[2015-12-05 21:43] jhabdas commented on #21
My pleasure. Thanks for the spot!

[2015-12-06 04:45] jhabdas commented on #20
Sorry for your troubles. React Native environments can be a little tricky. We just have to be patient.  Some inspiration https://github.com/jhabdas/react-native-webpack-starter-kit/issues/13#issuecomment-161868142

[2015-12-06 04:45] #20 closed

[2015-12-06 21:22] wbashir commented on #13
@jhabdas How are you able to use npm version `3.3.0'? When I download and install node, the mature and dependable release  through [1], it comes with `npm: v2.14.7`.

[1] https://nodejs.org/en/

[2015-12-06 21:24] jhabdas commented on #13
npm i -g npm

But I would suggest staying on npm 2 for now if you can, as v3 is still
quite buggy and slow.
On Sun, Dec 6, 2015 at 3:22 PM Warsame Bashir <notifications@github.com>
wrote:

[2015-12-06 21:48] wbashir commented on #13
Ok so latest node mature and now dependency error on `npm install`

[code]

The only difference is my `npm` version but it looks like with the latest version of this clone and its requirements, i am unable to finish a npm `install`?

[2015-12-06 21:51] jhabdas commented on #13
When you "npm ls", is it clean? If so you're good to go. The peer dep
shouldn't be a concern.
On Sun, Dec 6, 2015 at 3:48 PM Warsame Bashir <notifications@github.com>
wrote:

[2015-12-06 21:55] wbashir commented on #13
Yea it's empty. It's very odd that its looking for a peer dependency.. I have done a fresh clone a few times

[2015-12-06 21:59] jhabdas commented on #13
Great! RWNS is locked on 15. Once they bump their RN dep version and I bump
them that error will disappear.
On Sun, Dec 6, 2015 at 3:55 PM Warsame Bashir <notifications@github.com>
wrote:

[2015-12-06 22:11] wbashir commented on #13
Awesome! thanks for tracking that down, I will wait for their update unless their is a pull request reference already

[2015-12-07 03:28] luandro opened #22 "RCTNetwork problem when running a fresh install"
I know setting up react-native can be really tricky. But when not even Google can help, I don't know where else to turn. Did a fresh clone, installed everything and did a `npm start`. This is what the android emulator spits out:

![screenshot](http://i.imgur.com/P4LnWRU.png)

Xcode also gives me a bunch of errors related to RCTNetwork.

Any clues? Am I missing something. I actually got this to wor

[2015-12-07 03:34] jhabdas commented on #22
I'm more familiar with the iOS side. What Node and NPM versions are you
using? And what was your experience earlier?
On Sun, Dec 6, 2015 at 9:28 PM Luandro <notifications@github.com> wrote:

[2015-12-07 03:41] luandro commented on #22
Node 5.0.0 and npm 3.3.6

When I got it to work I don't remember if I had done a pull from the repo. I don't remember when exactly is stopped working, or why, but I've tried a fresh clone and install twice after that, and I always get these warnings about RCTNetworking.

[2015-12-07 03:58] luandro commented on #22
Trying to find something [here](https://github.com/facebook/react-native/issues/4488)

[2015-12-07 04:01] jhabdas commented on #22
Node 4 and NPM 3 are not very stable or trustworthy yet. If you have NVM
install and use the LTS release (Argon) and back down to NPM 2, blow away
node modules, clear your NPM cache and reinstall.
On Sun, Dec 6, 2015 at 9:58 PM Luandro <notifications@github.com> wrote:

[2015-12-07 04:20] christopherdro commented on #22
@luandro Double check that your on 0.16.

[2015-12-07 04:36] wbashir commented on #13
@jhabdas I think this is finally working as expected! Thanks for your patience and by the way what is the cool terminal theme you got there?

[2015-12-07 04:41] jhabdas commented on #13
I lifted the terminal theme from @paulmillr https://github.com/jhabdas/dotfiles

[2015-12-07 04:48] luandro commented on #22
Using Node LTS, npm keeps failing with the weirdest errors. I'll try again when I wake up.

0.16.0 Confirmed

[2015-12-07 04:53] jhabdas commented on #22
`npm i -g npm@2`

[2015-12-07 12:06] luandro commented on #22
Did that, but won't install...

[code]

[2015-12-07 14:31] jhabdas commented on #22
That's expected for the time being. Info as to why covered in #13, if you'd like to understand why. But you should get a clean "npm ls" after install regardless on both NPM 2 and 3, and be able to stand up and run the app. Please let me know how it goes.

[2015-12-07 18:22] diffractometer opened #23 "Unmet dependency (react-native 0.16.0) on fresh install"
Hello Josh,

FYI I'm experiencing an unmet dependency upon a fresh clone of react-native-webpack-starter-kit:

[code]

I fixed by downgrading react-native to 0.15.0.

[2015-12-07 19:39] diffractometer commented on #23
Ah - just saw your thread about NPM 3, agreed.

[2015-12-07 19:39] #23 closed

[2015-12-07 20:56] jhabdas commented on #23
16 will still work. I'm ahead of the RNWS dep and don't want to fork them
again. That error is expected and OK as long as you get a clean "npm ls"
post install regardless of npm -v
On Mon, Dec 7, 2015 at 1:39 PM Hunter Husar <notifications@github.com>
wrote:

[2015-12-07 21:30] diffractometer commented on #23
Got it, thx.

[2015-12-07 23:26] diffractometer opened #24 "Error: Incompatible clock pointer + port conflict"
Okii one more:

I'm trying a fresh install, I run `npm start` everything works as normal:

[code]

But when I open the app up in Xcode I see two unexpected behaviors:

1) The secondary [default] terminal window opens up and I get a port conflict (is there a way to prevent this window from starting on build?) with the error `Packager can't listen on port 8081`.

2) I go ahead and kill the conflicti

[2015-12-07 23:27] diffractometer commented on #24
The second error is happening in AppTests.m

[code]

[2015-12-07 23:31] jhabdas commented on #24
You may have more luck [emulating my environment](https://github.com/jhabdas/react-native-webpack-starter-kit/issues/13#issuecomment-161868142), which is using `npm@3`. As long as you're on Xcode 7 you should be good to go with a more stable version of node. If for some reason you have install issues besides any peed dependency errors I'd back down to `npm i -g npm @2`. As for the second terminal

[2015-12-08 00:07] diffractometer commented on #24
Wuh oh. Hmm, I emulated your env: npm@3 and set default node to v4.1.0. Then I ran `npm i` (only seeing the original peer dependency issue, so will ignore), opened the app in XCode and ran `npm start`.

Still getting the really weird error in AppTests.m `Incompatible block pointer types passing 'void'` Strange....

[code]

I've got a several other react native apps setup in this env and they are a

[2015-12-09 05:56] senpng opened #25 "live reload is Invalid"

[2015-12-09 06:05] jhabdas commented on #25
Feature currently unsupported using web pack. If you find a way to  integrate it I will take a pull request. Thanks!

[2015-12-09 06:05] #25 closed

[2015-12-09 06:09] jhabdas commented on #24
Any luck? I'm considering adding docker support for this repo to help stabilize the environment as Node post 0.12 is still a bit shaky.

[2015-12-09 06:21] diffractometer commented on #24
Word. Tried to build from scratch on an entirely different computer with same build and env, ran into same error... real head scratcher!

<img width="740" alt="screen shot 2015-12-09 at 12 20 26 am" src="https://cloud.githubusercontent.com/assets/955590/11678158/bcc5b8e4-9e0a-11e5-9000-5c2308e364dc.png">

[2015-12-09 21:31] diffractometer commented on #24
I'm trying to rebuild... I think it's react-native-webpack-server...

Do you do Slack or Gitter? I'd be cool to join a chatty roomy

On Wed, Dec 9, 2015 at 12:09 AM, Josh Habdas <notifications@github.com>
wrote:

[2015-12-09 22:14] jhabdas commented on #24
I'll set up chat for the Kit. It's about that time.
On Wed, Dec 9, 2015 at 3:31 PM Hunter Husar <notifications@github.com>
wrote:

[2015-12-10 06:29] jhabdas commented on #22
@luandro Any luck with Android and/or getting your environment set-up? I created a chatroom for individuals to connect. Link available from the Gitter badge in [`README.md`](https://github.com/jhabdas/react-native-webpack-starter-kit/blob/master/README.md).

[2015-12-10 06:30] jhabdas commented on #24
See [`README.md`](https://github.com/jhabdas/react-native-webpack-starter-kit/blob/master/README.md) for link to chatroom.

![just-add-gitter](https://cloud.githubusercontent.com/assets/440298/11708462/1cd144f4-9ed5-11e5-9699-c51a172cd7f5.jpeg)

[2015-12-12 04:45] jhabdas commented on #22
@laundro Hope all is well. If this is no longer an issue please let me know or feel free to close this on your own. Thanks!

[2015-12-12 13:00] #22 closed

[2015-12-13 06:51] bendyorke commented on #24
Was there any solution found to this?  I'm experiencing the same issue.  I've tried multiple versions of node, npm, Xcode (including the @jhabdas's env linked above), npm cache cleans, computer restarts, removing derived data, all to no success.

[2015-12-13 18:14] bendyorke commented on #24
To clarify, the issue I'm having is the `Incompatible block pointer types passing 'void (^)(RCTLogLevel...` error.  A temporary fix I found was just to comment out these lines:

[code]

of the function `- (void)testRendersWelcomeScreen` in `App/AppTests/AppTests.m`.  It's not a fix by any means, but at least it get's me up and running until someone smarter than me can figure out the actual issue!

[2015-12-13 18:24] bendyorke commented on #24
Also, changing
[code]
of `- (void)testRendersWelcomeScreen` in `App/AppTests/AppTests.m` to
[code]
Fixed the error.  To be honest I'm not sure which is a better solution.

[2015-12-14 18:54] lynndylanhurley commented on #24
@bendyorke - I was able to get the app to build with your fix

[2015-12-14 19:13] lynndylanhurley opened #28 "Error: Requiring unknown module "RCTLog""
I'm working from a fresh clone of this repo. I was able to get the app to build by following the instructions in this comment: https://github.com/jhabdas/react-native-webpack-starter-kit/issues/24#issuecomment-164285731

But now I'm getting the following error:

[code]

I can see that there is a file called `RCTLog` in the `react-native` source within the `node_modules` directory. I'm not sure why

[2015-12-14 19:29] diffractometer commented on #24
@lynndylanhurley @bendyorke I was able to get the app to build with the fix.

[2015-12-14 20:50] lynndylanhurley commented on #28
Update: this only happens when I try to run this app from within a sub directory of another project.

I can get the app working by simply moving it into another directory. But I'm trying to use this as the demo app for [redux-auth](https://github.com/lynndylanhurley/redux-auth), so I need to be able to include it within the redux-auth repo.

Any ideas on why this would happen?

[2015-12-14 22:03] lynndylanhurley commented on #28
This is not an issue with this project. I get the same results with a new project generated using `react-native init`. Closing.

[2015-12-14 22:03] #28 closed

[2015-12-14 22:21] diffractometer commented on #24
All signs seem to be pointing to react-native-webpack-server. Does anyone have any input on that?

@jhabdas now that Es6 + Babel come out of the box in react-native do you think there's an argument for dropping webpack?

[2015-12-15 04:51] bendyorke commented on #24
For what it's worth, webpack makes it seemingly impossible to use images.  Everything Facebook recommends for loading images did not work.  I removed web pack, and everything they suggested loaded the image with any issues

[2015-12-15 05:31] jhabdas commented on #24
Please see my Lumpen Radio app for a more complex example using images and
video.
On Mon, Dec 14, 2015 at 10:51 PM Ben Yorke <notifications@github.com> wrote:

[2015-12-15 05:54] jhabdas commented on #28
Thanks for the follow-through, Lynn.
On Mon, Dec 14, 2015 at 4:03 PM Lynn Dylan Hurley <notifications@github.com>
wrote:

[2015-12-15 12:20] schinknbrot commented on #24
Had the same problem. fixed it by running `react-native upgrade`.

[2015-12-15 14:49] jhabdas commented on #24
I'd be a liar if I told you guys advancing an app this early in the game didn't require some creative environment configuration to use with Webpack and Babel. In fact, I tried several different methods to use Webpack when I started and they were all equally hard save for React Native Webpack Server.

Doing a `react-native` init will request to replace `ios/App/AppDelegate.m`. If you do it please b

[2015-12-15 16:46] diffractometer commented on #24
Cool thanks @jhabdas! I will see you the chatroom.

[2015-12-19 03:07] jhabdas commented on #24
Would someone be so kind as to let me know if this error is still occurring after bumping to RN `0.17.0`? I've tagged a [new release to support it](https://github.com/jhabdas/react-native-webpack-starter-kit/releases/tag/v0.17.0). Cheers!

[2015-12-19 03:23] diffractometer commented on #24
Nope everything works! Woo!

[2015-12-19 03:33] #24 closed

[2015-12-20 19:16] oliviertassinari opened #30 "Application App has not been registered."
I get the following issue when testing on an Android emulator from the master branch:
[code]
However, It's working fine on the iOS simulator.

Any idea?

[2015-12-20 19:21] oliviertassinari commented on #30
Well, it's working on a real Android device. So it's I assumed it's not linked to this project.

[2015-12-20 19:21] #30 closed

[2015-12-20 19:21] jhabdas commented on #30
There must've been a breaking change in Android during the [RN 0.17 release](https://github.com/jhabdas/react-native-webpack-starter-kit/releases/tag/v0.17.0). I haven't had a chance to set-up my Android environment locally to validate upgrades yet, so any help you might be able to provide would be greatly appreciated.

I noticed RN started trying to build in more development automation tools duri

[2015-12-20 19:23] jhabdas commented on #30
Glad you were able to resolve your issue. Please let me know if there's any room for improvement in the documentation.

[2015-12-20 19:24] oliviertassinari commented on #30
I'm pretty new to react-native, I have no idea where to start :grimacing:
Thanks anyway! I'm gonna use this awesome starter-kit for the react-native version of https://github.com/callemall/material-ui :smile:

[2015-12-20 19:27] jhabdas commented on #30
MUI support for RN sounds like a dream come true. Please let me know when you beta! I'd love to try it out and incorporate into my [Lumpen Radio](https://github.com/jhabdas/lumpen-radio) app and [link to you](habd.as/awesome-react-boilerplates/#react-native) from my blog. Good luck!

[2015-12-21 00:36] oliviertassinari commented on #30
That is going to take some time. I'm gonna keep you up to date when it's beta :grin:.
Here is the very first piece https://github.com/callemall/material-ui/pull/2611.
The goal is to polyfill our browser version to a native one, so I may with using some component of https://github.com/callemall/material-ui/pull/2611 or https://github.com/xinthink/react-native-material-kit.
We will see.

[2015-12-23 20:00] thachp opened #31 "Seeing EPEERINVALID during NPM install"
Repro(s)

    git clone https://github.com/jhabdas/react-native-webpack-starter-kit.git react-native-kit && cd $_
    npm install

Get the following errors in the terminal.

    npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install"
    npm ERR! node v4.2.1
    npm ERR! npm  v2.14.7
    npm ERR! code EPEERINVALID

    npm ERR! peerinvalid The package react-native@0.17.0 does not satisf

[2015-12-23 20:07] thachp commented on #31
Seems like an issue with react-native-webpack-server.   I have submitted a similar issue at

https://github.com/mjohnston/react-native-webpack-server/issues/147

[2015-12-23 22:23] jhabdas commented on #31
Thanks for the issue @thachp. While RNWS [looks for a new maintainer](https://github.com/mjohnston/react-native-webpack-server/issues/143) I've decided to push ahead on this app. The errors you're seeing are expected per the [release notes for `v1.17.0`](https://github.com/jhabdas/react-native-webpack-starter-kit/releases/tag/v1.17.0) and should not impact your ability to use the kit. I'll leave t

[2015-12-24 01:06] thachp opened #32 "Cannot find entry file index.ios.js"
This error occur on my first attempt to build / run the starter kit.

Repro(s)

    git clone https://github.com/jhabdas/react-native-webpack-starter-kit.git mobile && cd $_
    npm install # or simply npm i
    npm start

    Open ios/App.xcodeproj in Xcode, build and run the project.

Environment(s)

    npm Darwin 15.0.0
    npm argv "/usr/local/bin/node" "/usr/local/bin/npm" "install"
    npm

[2015-12-24 01:07] thachp commented on #31
Thanks for your help.

[2015-12-24 01:20] thachp commented on #32
It started working after I made small changes to the <text> component in App.js. Could it be that index.ios.js did not generate initially?  I don't see ios.index.js anywhere in the root directory.

[2015-12-24 01:37] jhabdas commented on #32
Sorry to hear you're having issues getting set-up @thachp. But you're almost there! I used `nvm` to `install v4.2.1` and then did a `npm i -g npm@2.14.7` to get your version of NPM and, after a fresh clone from `master` see the following:

![screen shot 2015-12-23 at 7 32 51 pm](https://cloud.githubusercontent.com/assets/440298/11987870/83c0c126-a9ac-11e5-9275-5482a0a10c03.png)

Try taking a spin

[2015-12-24 01:37] #32 closed

[2015-12-24 02:06] jhabdas commented on #32
Superb. Glad to hear you got it working. I dropped some knowledge in the README to help you get through from here to the App Store. Best of luck!

[2015-12-26 18:23] #31 closed

[2015-12-28 15:16] Hyperonic opened #33 "Build not working"
After cloning and npm install I get the following on Android.

Invariant Violation. Application App has not been registered. This is either due to a require() error during initialization or failure to call AppRegistry.registerComponent

[2015-12-28 15:17] jhabdas commented on #33
Have you tried running on a device?
On Mon, Dec 28, 2015 at 9:16 AM Zeeshan Aziz <notifications@github.com>
wrote:

[2015-12-28 15:20] jhabdas commented on #33
https://github.com/jhabdas/react-native-webpack-starter-kit/issues/30

[2015-12-28 15:41] Hyperonic commented on #33
yes, running on device

[2015-12-28 15:48] Hyperonic commented on #33
also tried replacing content of src/main.android.js with the default index.android.js content but still get the same error

[2015-12-28 15:54] Hyperonic commented on #33
sorry. changed port from 8081 to 8080 and now it works

[2015-12-28 15:54] #33 closed

[2015-12-30 22:45] thachp opened #34 "Integrate react-redux/native"
Thoughts on including react-redux/native as part of the starer kit?

https://github.com/rackt/react-redux

[2015-12-30 23:03] jhabdas commented on #34
Thanks for the request, @thachp. My plan is to keep this kit as light-weight as possible so it benefits a larger audience and helps enable me to keep it sliding forward on the latest RN stable release. I left a link in the `README` pointing to [some other kits](http://habd.as/awesome-react-boilerplates/#react-native) (some of which include Redux).

I'd love to see a fork open sourced with Redux, T

[2015-12-30 23:03] #34 closed

[2016-01-01 11:03] mohamedpsx commented on #33
@Hyperonic where did you change the port ? and did you get it to work on emulator ? i am having the same issue here

[2016-01-01 16:57] mohamedpsx opened #35 "Build failing for android emulator"
Hey, i am unable to run a fresh install on android emulator but it does run on device as in #33 so any idea on how to fix this or what is the source of the issue ? and also i wanted to ask about your plan for rnws that is not actively maintained ?

thanks!

[2016-01-01 17:16] jhabdas commented on #35
Happy New Year. RNWS is growing into 2016. I know the app works on a mobile
device. If you have a contribution to make Android better I would love to
merge it.
On Fri, Jan 1, 2016 at 10:57 AM Mohamed Halloul <notifications@github.com>
wrote:

[2016-01-03 01:18] Hyperonic commented on #33
@mohamedpsx inside app open Dev Settings then open the very last item. enter your connected working machine(laptop) ip address followed by colon and port 8081. then reload js

[2016-01-03 02:45] jhabdas commented on #35
@mohamedpsx Can you confirm Android emulator works with updated port settings as discussed in https://github.com/jhabdas/react-native-webpack-starter-kit/issues/33?

[2016-01-03 22:30] mohamedpsx commented on #35
Yep, confirmed and it is not an issue related to this project, Thank's :dancer:

[2016-01-03 22:30] #35 closed

[2016-01-03 22:31] jhabdas commented on #35
:balloon:

[2016-01-03 22:33] mohamedpsx commented on #33
@Hyperonic Thank you :D it is working now, and seems that the issue is within react native it self, did you write an issue there ?

[2016-01-03 22:35] jhabdas commented on #33
Would love to hear feedback on the usefulness/discoverability of the following `npm run` script:

https://github.com/jhabdas/react-native-webpack-starter-kit/blob/f07854b2f75f0ae6aed2b8297a983a55e6d91ed0/package.json#L8

[2016-01-03 23:09] mohamedpsx commented on #33
same error running with or without that npm run script, but i run react-native android as in the official doc instead of react-native run-android and it works out of the box no need for the android-setup-port, i think it runs a reverse connection by default when running react-native android.

I am no android expert, but this is what i tried and it seems to work, we can investigate more if you want

[2016-01-04 01:57] jhabdas commented on #33
:+1:

[2016-01-11 00:52] michalpetrov opened #38 "Cannot start bundled iOs application"
I have done following:
1. clone
2. npm i
3. npm start
4. open xcode a started app in simulator
Application started

Then i wanted to test the bundling, so i have done folowing:
1. uncommented option 2 (jsCodeLocation) in AppDelegate.m
2. npm run bundle
3. started the application in simulator again
This errors were logged in xcode console and application:
[warn][tid:com.facebook.React.JavaScript] R

[2016-01-11 00:57] jhabdas commented on #38
Almost there. Looks like the NPM dependencies didn't finish installing. To inspect the status of your dependencies run `npm ls` at the bash prompt and look for errors related to missing packages. You can run `npm i` again to finish the installaiton, though I often find it faster to simply run `npm up` to nudge the NPM dependency manager to install any missing dependencies.

[2016-01-11 01:11] michalpetrov commented on #38
Thanks for  quick reply.
That helped to solve the problem with unknown module, but I still have the following error:
ReferenceError: Can't find variable: __DEV__

[2016-01-11 01:14] jhabdas commented on #38
It's in there. Try `rm -rf node_modules` and reinstalling dependencies fresh. If that doesn't work please reply with the output from `npm -v && node -v`.

[2016-01-11 01:24] michalpetrov commented on #38
It didn't help.
npm: 3.3.12
node: v5.1.1

[2016-01-11 01:34] jhabdas commented on #38
Sorry you're having environment issues. Both `npm` 3 and Node 5 are a bit experimental. For a more stable environment try [following along with this example](https://github.com/jhabdas/react-native-webpack-starter-kit/issues/13#issuecomment-161868142).

[2016-01-11 02:10] michalpetrov commented on #38
I've have installed node v4.2.4 and npm 2.14.12, deleted node_modules, reinstalled dependencies, rebuild bundle but still getting the same error

[2016-01-11 02:16] jhabdas commented on #38
Have you run through the RN environment set-up instructions again? I left a
link to their instructions below the screenshot of the running simulator in
the previously linked post. That's all the help I can offer here,
unfortunately.
On Sun, Jan 10, 2016 at 8:10 PM michalpetrov <notifications@github.com>
wrote:

[2016-01-11 06:36] davidseik opened #39 "Unable to Start iOS Application Development Server"
Hi, I Cloned the Repo and followed the steps to install all node_modules (Without any issues). After that I do the following Steps
`npm start (starts the server and should start the webpack bundler)`

And then I go to the XCode Project and Hit Run; That opens a new terminal window with the facebook packager; No Mistakes so far, however, in the first window it appears that Webpack spits the output

[2016-01-11 08:07] michalpetrov commented on #38
I tried again on a clean enviroment (El Capitan).
Installed everything according react-native "Getting started".
Generate empty application (AwesomeProject), uncommented local bundle loading in AppDelegate.m and everything has run as expected.
Then I cloned this repo, run `npm i`, `npm up`, `npm start` .... run application in simulator ... OK.
Then `npm run bundle`, edited AppDelegate.m, started i

[2016-01-11 14:06] jhabdas commented on #38
It is 17. And its modified to pull some RN build stuff. Please hit the chat
room linked from the README if you can. Looks like someone else is having
difficulty too, and just opened another environment issue. Please let us
know what you find out.
On Mon, Jan 11, 2016 at 2:07 AM michalpetrov <notifications@github.com>
wrote:

[2016-01-11 23:47] jhabdas commented on #39
Sorry you're having trouble getting the app running on your machine. I'm working on some other stuff at the moment and can't help debug at the moment. Please feel free to take to the chatroom. I left a link in the `README`. Good luck!

[2016-01-14 02:24] hugocaillard commented on #39
@davidseik I had the same problem, just wait (quite a long time) after `$npm start`, it should start the Packager on the port 8081. (It really can be pretty long.)
After that, it will not open a new terminal window when you'll hit run.

[2016-01-14 04:40] jhabdas commented on #39
Thanks for the info, @hugocaillard!

[2016-01-14 04:40] #39 closed

[2016-01-14 15:55] hugocaillard commented on #38
Indeed `$ npm run bundle` seems to fail at creating a valid bundle.
You can do it "manually" by running `$ npm start`, when the server is ready run `$ curl "http://localhost:8080/index.ios.bundle?platform=ios&dev=true" -o ios/main.jsbundle`, which will get you a valid bundle. Then you'll be able to install it on a device.

It should also be quite easy to get a minified version and a non-dev versio

[2016-01-14 16:34] jhabdas commented on #38
That sounds right. Will plan to update README if no one else gets to it
first. Above instructions also found inside the app source. Just search 8080
On Thu, Jan 14, 2016 at 9:56 AM Hugo Caillard <notifications@github.com>
wrote:

[2016-01-15 00:49] hugocaillard commented on #38
Yes I simply took it from AppDelegate.m. But I didn't figure out yet how to get a working "production ready" bundle, as we should get with `$ npm run bundle`.

[2016-01-15 15:00] jhabdas commented on #38
I've been creating my distributable bundles using cURL. See README link for
App Store submission tips.
On Thu, Jan 14, 2016 at 6:49 PM Hugo Caillard <notifications@github.com>
wrote:

[2016-02-04 20:00] elliott-vorel opened #43 "upgrading to RN to 0.18.0"
Getting this error:
undefined is not an object (evaluating 'process.env.NODE_ENV')

Any idea what the problem could be. Possibly related to webpack?

[2016-02-04 20:02] jhabdas commented on #43
Please see #41 and #42. I'm considering skipping 0.18 altogether depending on how the move to 0.19 goes.

[2016-02-04 20:02] #43 closed

[2016-02-04 20:06] jhabdas commented on #38
Stale

[2016-02-04 20:06] #38 closed

[2016-02-06 12:26] jhabdas commented on #43
As promised https://github.com/jhabdas/react-native-webpack-starter-kit/releases/tag/v1.19.0

[2016-02-06 18:59] tuneZola commented on #30
I get this error when I already have a React Native node process running. Make sure you have all your terminals closed and run ps aux | grep 'node'. You should not see any thing from React native running. If you do, you can manually kill the processes and then start everything again. It should work then.

[2016-02-15 06:08] ask10000 opened #46 "webpack server crashes on Windows"
After running `npm start` I see some errors related to linebreak rules of eslint - CRLF instead of LF - and after that it says bundle is valid (though not sure if bundle is really valid). When I try to access the bundle url - http://localhost:8080/index.android.bundle , this is what I see -

`ERROR  Watcher took too long to load (NodeWatcher)
Error: Watcher took too long to load (NodeWatcher)

[2016-02-15 06:12] ask10000 commented on #46
Prior to this error, I got this on my console..

`D:\Apps\react-native-webpack-starter-kit\react-native-kit>npm start

Server listening at http://localhost:8080
Webpack dev server listening at  http://localhost:8082
Hash: 8e05cd0b77c77f93eaa8
Version: webpack 1.12.13
Time: 21803ms
               Asset     Size  Chunks             Chunk Names
    index.android.js    11 kB       0  [emitted]  index.

[2016-02-15 13:29] jhabdas commented on #46
Can you confirm you're able to start another React Native project, and one
using Webpack? Have you tried running under Docker?
On Mon, Feb 15, 2016 at 12:12 AM ask10000 <notifications@github.com> wrote:

[2016-02-15 13:39] jhabdas commented on #46
Also, do you have EditorConfig enabled? It's configured to handle line
feeds across platforms.
On Mon, Feb 15, 2016 at 7:29 AM Josh Habdas <jhabdas@gmail.com> wrote:

[2016-02-16 13:09] ask10000 commented on #46
Initially I didnt. But after your last comment, I enabled editorconfig to sublime and opened and saved the files causing issues. Those are clear now. But the issue with crash still goes on. Here is the log -

`D:\Apps\react-native-webpack-starter-kit\react-native-kit>npm start`

&gt; App@1.17.0 start D:\Apps\react-native-webpack-starter-kit\react-native-kit
&gt; rnws start
`
Server listening at ht

[2016-02-16 14:40] jhabdas commented on #46
The last issue you commented on is occurring because `react-native` is using rest spread. I left a link with more details here: https://github.com/jhabdas/react-native-webpack-starter-kit/releases/tag/v1.17.0.

Does your Webpack config have the following loader which ships with this kit? https://github.com/jhabdas/react-native-webpack-starter-kit/blob/master/webpack.config.js#L31-L39

[2016-02-17 05:51] ask10000 commented on #46
Yes, the webpack config has that loader u pointed as I didnt change what came with the kit. Not sure why this ECONNRESET happens. May be it has nothing to do with RNWS, may be something to do with webpack itself. But then there are other webpack projects on my system which run ok.

[2016-02-17 06:15] jhabdas commented on #46
What versions of NPM and node are you using on your Windows machine?
On Tue, Feb 16, 2016 at 11:51 PM ask10000 <notifications@github.com> wrote:

[2016-02-17 15:22] ask10000 commented on #46
npm @ 2.14.7
node @ v4.2.1

[2016-02-17 15:29] jhabdas commented on #46
After debugging your original problem, the issue seems to be now with the
loader for the RN dep as I pointed out earlier. What happens if you make
that loader a pre-loader? Also, what happens if you reinstall dependencies
using NPM3? These steps should help debug.
On Wed, Feb 17, 2016 at 9:22 AM ask10000 <notifications@github.com> wrote:

[2016-02-19 15:41] deanshub commented on #46
@ask10000
Iv'e managed to fix this by enabling EditorConfig on my atom editor then saving
App.js., main.android.js, main.ios.js files
and changing in the webpack.config.js file
this line:
```include: /node_modules\/react-native/,```
into this line
```include: /node_modules\\react-native/,```

[2016-02-20 22:18] jhabdas commented on #46
@deanshub I released a new version of this starter kit today with updated dependencies. Please upgrade to [the latest version](https://github.com/jhabdas/react-native-webpack-starter-kit/releases/tag/v1.20.0) and open a new issue if you continue to have problems after upgrading.

[2016-02-20 22:18] #46 closed

[2016-02-23 06:15] ccorcos opened #54 "Errors after cloning"
I npm installed, then:

[code]

[2016-02-23 10:48] ask10000 opened #55 "ECONNRESET crash on Windows 7, npm 3.6.0, node v5.6.0"
This is reopening of issue #46
After @deanshub 's comment for changes in `App.js`, `main.android.js` and `main.ios.js` on after enabling editorconfig on Sublime, webpack.config.js loaded entry change from
`include: /node_modules\/react-native/,` to `include: /node_modules\\react-native/,`, rnws started properly.

However, as soon as app is started, rnws server crashes with ECONNRESET error. Attach

[2016-02-23 10:54] ask10000 commented on #55
Requested URL http://localhost:8080/index.android.bundle from browser and found the same issue.

[2016-02-23 10:58] ask10000 commented on #55
The console log -

D:\Apps\ReactNativeLab\rnws\react-native-kit>npm start

Server listening at http://localhost:8080
Webpack dev server listening at  http://localhost:8082
Hash: 063de06d8e9259b0ac10
Version: webpack 1.12.14
Time: 5951ms
               Asset     Size  Chunks             Chunk Names
    index.android.js    24 kB       0  [emitted]  index.android
        index.ios.js  24.1 kB       1

[2016-02-23 14:16] jhabdas commented on #55
@ask10000 thanks for reopening given you're still having problems. I used to work on a Windows machine as well and have traditionally had difficulty running Node projects on that platform. So much so, in fact, that I had to use virtualization on Windows just to [Develop Single Page Apps on Windows](http://habd.as/developing-modern-web-applications-on-windows-vagrant/).

Looking over the build outp

[2016-02-23 14:27] jhabdas commented on #54
Thanks for reporting your issue @ccorcos. It's unexpected you'd see linting errors during fresh install of this project. In fact, I can see from the build output here the linter is complaining about rules which do not exist in this project's `.eslintrc` file.

What happens if you clone this repo again fresh, reinstall dependencies and start the app?

[2016-02-24 09:42] ask10000 commented on #55
Thanks @jhabdas . I will give react-native-webpack-server a try. But just last week I had tried to install it but ran into some problem of UNMET PEER DEPENDENCY where installation had failed to install react-native@>=0.13.0, webpack@>=1.8.4 and webpack-dev-server@>1.8.0. I am new to this but i suppose i have to globally install these specific versions of react-native, webpack and webpack-dev-serve

[2016-02-24 13:03] jhabdas commented on #55
@ask10000 specifically I would try to get their Babel example running (from the Examples directory in that repo). If you do, and receive the same errors you did here, you're one step closer to isolating the root cause.

[2016-02-27 15:49] jhabdas commented on #54
@ccorcos any updates?

[2016-02-28 00:25] MrChristofferson opened #56 "Missing dependency err after fresh clone"
Shows up for both ios and android js files:

<img width="488" alt="screen shot 2016-02-27 at 5 23 05 pm" src="https://cloud.githubusercontent.com/assets/12105346/13376338/f978ec60-dd76-11e5-8427-88a403019d34.png">

[2016-02-28 00:28] jhabdas commented on #56
Take a peek later. As the README states linting rules are intended to be
sane, which Airbnb is not. What happens when you clone fresh and install?
You didn't provide much context otherwise to help.
On Sat, Feb 27, 2016 at 6:25 PM Chris Vandenberg <notifications@github.com>
wrote:

--
Josh Habdas
tel: +1 (630) 290-3542
web: http://habd.as

[2016-02-28 01:10] #56 closed

[2016-02-29 05:14] jhabdas commented on #55
@ask10000 According to the official React Native documentation at least, OS X is required for development. But I don't like people telling me no so I went ahead and created a custom virtual environment running this kit on Linux with Docker for use on Windows anyway.

Please see the updated [Installation instructions](https://github.com/jhabdas/react-native-webpack-starter-kit#installation).

This

[2016-02-29 05:33] jhabdas commented on #54
@ccorcos I've updated the installation instructions in the `README` to provide some additional info and an a virtual environment configured to run this app with Docker. If you continue to experience environment issues feel free to give the Docker approach a try. But if you're on OS X you shouldn't need to. Good luck!

[2016-02-29 05:33] #54 closed

[2016-02-29 05:36] #55 closed

[2016-02-29 06:39] ask10000 commented on #55
Thanks @jhabdas . Appreciate your efforts to get us Windows suckers like us on react-native. Unfortunately this is a company IT issued machine and current IT policies don't allow VirtualBox or similar virtualization tools to be installed on these machines. But I am going to try this route using another Windows machine - just to validate this approach works too. Thanks again.

[2016-02-29 06:45] jhabdas commented on #55
Thanks. I've used a similar approach [in the past](http://habd.as/developing-modern-web-applications-on-windows-vagrant/) to build complex Node apps on Windows and 'm confident in the mechanics of the approach. Feel free to dump any feedback here (over chat) for better visibility.

[2016-02-29 08:52] flappymonkey opened #57 "node module "react-deep-force-update" dependent on babel5"
TransformError: /Volumes/data/git/react-native_sets/react-native-webpack-starter-kit/node_modules/react-deep-force-update/lib/index.js: [BABEL] /Volumes/data/git/react-native_sets/react-native-webpack-starter-kit/node_modules/react-deep-force-update/lib/index.js: Unknown option: /Volumes/data/git/react-native_sets/react-native-webpack-starter-kit/node_modules/react-deep-force-update/.babelrc.stage

[2016-02-29 10:05] flappymonkey commented on #57
you can do this to handle babel6 problem
"scripts": {
  "clean:babelrc": "find ./node_modules -name react-packager -prune -o -name '.babelrc' -print | xargs rm -f",
  "postinstall": "npm run clean:babelrc"
}

[2016-02-29 14:58] ochervak opened #58 "Android crash on fresh install"
Steps:
- Clone repo
- npm i
- run Android Studio under Nexus 5X and 6.0 Marshmallow

Result:
Crash

![5554 nexus_5x_api_23 2016-02-29 16-55-02](https://cloud.githubusercontent.com/assets/13982649/13398110/8b9d5f92-df05-11e5-8170-90d674ad4b6d.png)

[2016-02-29 14:59] ochervak commented on #58
Additional stacktrace from studio:
[code]

[2016-02-29 17:10] ccorcos commented on #54
Sounds good -- havent had the free time again to dive into RN :'( I'll keep you posted though. Maybe in a week

[2016-02-29 17:40] jhabdas commented on #58
Thanks for the report. I'll look into this when I have a chance. Meanwhile you may also want to try requesting help in the Gitter channel (link from README badge). /cc @niftylettuce for familiarity with Android RN dev

[2016-03-01 07:16] shprink commented on #58
http://stackoverflow.com/questions/34969858/react-native-module-appregistry-is-not-a-registered-callable-module/35630058

Please let us know if you find a solution!

thanks

[2016-03-01 07:22] ochervak commented on #58
will do!
i try clean install from React Native official docs, and it works well...

[2016-03-01 14:58] jhabdas commented on #57
Babel strikes again. Thanks for the workaround. Will take a closer look this weekend while making updates to the kit.

[2016-03-01 15:03] jhabdas commented on #58
I'll regenerate the RN app from init this weekend. It requires some hacks to chop off some of the tooling they're building for iOS so I'll look for a happy middle ground.

[2016-03-03 23:16] ccorcos commented on #54
worked!

[2016-03-03 23:16] ccorcos opened #62 "HMR"
Why not add HMR to this repo?

https://github.com/gaearon/react-transform-hmr#react-native

[2016-03-03 23:25] jhabdas commented on #54
Awesome!  It should support the capability of syncing files between systems, but I wasn't able to try that out yet

[2016-03-04 01:03] jhabdas commented on #62
To spare headaches and developer frustration I porposely omitted it from this kit. While it looks great on paper, the actual development workflow hurts the ability to use source maps for step debugging and generally leads to a cool, but less effective, developer experience. The RWNS dev dependency has partial support, if that's your thing. You'd have to hook it up based on their examples. But you'

[2016-03-04 01:03] #62 closed

[2016-03-04 01:32] gustavovnicius commented on #58
+1

[2016-03-04 01:44] jhabdas commented on #58
Sorry for the flub all. I'll be sure this gets fixed as soon as I can. Meanwhile, try a "react-native" upgrade after installing and see if you can push through any issues. I will get on this Saturday.

[2016-03-04 13:36] gustavovnicius commented on #58
It was my first try (updating react-native after cloning the repo), and it gives the same error. Not tried this: [http://stackoverflow.com/a/35630058]. If I discover anything new I'll report here.

[2016-03-04 14:15] jhabdas commented on #58
While this is being addressed, please try testing on an actual device and being sure you look through the closed Android issues in this repo. Also, and feedback on the Android instructions in the README is welcome and relevant here.

[2016-03-04 14:33] shprink commented on #58
BTW @vjeux has never heard of this error before :(

https://twitter.com/julienrenaux/status/704556052902191104

[2016-03-05 20:49] jhabdas commented on #57
@flappymonkey Could you provide some context into what caused this error, and how it relates to this starter kit?

[2016-03-05 21:00] jhabdas commented on #58
@ochervak @shprink to better understand how to debug this I need to try and replicate your environments as closely as possible. If possible, please provide your kit version used and your current `node -v && npm -v`. Thanks!

[2016-03-05 21:38] outdooricon opened #63 "/bin/sh: 1: VOLUME: not found"
I'm running your windows docker setup `docker build --rm .` and it ends after a lot of runtime with this final output:

[code]

[2016-03-05 21:48] outdooricon commented on #63
not sure if it's related, but higher in the output i see a few of:

[code]

[2016-03-05 21:54] jhabdas commented on #63
Thanks for the report @outdooricon. Windows support is very new, and the path forward isn't entirely clear. But my vision here is to allow RN development using CoreOS in the next six months. Thanks for braving your way into these waters.

What happens when you remove the [`VOLUME` line](https://github.com/jhabdas/react-native-webpack-starter-kit/blob/abadf986a1d72af2cb7c7341f48f7cec3cb6259d/Docker

[2016-03-05 23:32] jhabdas opened #64 "Cannot find entry file index.ios.js in any of the roots"
While adding support for Windows with [`v2.20.0`](https://github.com/jhabdas/react-native-webpack-starter-kit/releases/tag/v2.20.0) of this starter kit I introduced a bug:

<img width="487" alt="screen shot 2016-03-05 at 5 17 35 pm" src="https://cloud.githubusercontent.com/assets/440298/13551171/433512c8-e2f6-11e5-9770-fb2cb23be5f0.png">

The bug was caused by the addition of `"ignore_dirs": ["nod

[2016-03-05 23:58] #64 closed

[2016-03-06 00:09] jhabdas commented on #63
@outdooricon I just landed https://github.com/jhabdas/react-native-webpack-starter-kit/releases/tag/v2.20.2 which may help fix your problem. You'll need to rebuild your Docker image after cloning or updating to the new version. Please give it a shot and let me know how it goes.

[2016-03-06 00:10] outdooricon commented on #63
pulling... will update soon!

[2016-03-06 00:14] jhabdas commented on #57
Closing this as we've got the information provided. If you feel this issue may be affecting others please let us know how to reproduce it by providing information about your environment including kit version used and your `node -v && npm -v` and re-open when we see at least one more report.

[2016-03-06 00:14] #57 closed

[2016-03-06 00:19] jhabdas commented on #63
Thanks @outdooricon. Basically what I did was try to limit the files mounted between operating systems to only the files in the `src` directory. This was an approach I had success with [while building virtualized Node apps on Windows](http://habd.as/developing-modern-web-applications-on-windows-vagrant/) in the past.

[2016-03-06 00:26] jhabdas commented on #63
@outdooricon Oops. I forgot the fabric softener! We need to update `KIT_VERS` in the `Dockerfile` to pull the updated kit version. You can do this locally. I'm going to push a new release up meanwhile. You'll see a [deep dependency error](https://github.com/jhabdas/react-native-webpack-starter-kit/releases/tag/v2.20.1) I put a workaround in earlier if you do not.

[2016-03-06 00:30] outdooricon commented on #63
haha, yes i had to address this one earlier and was going to comment on it next. I just had a successful build of the docker container build this time around, so your change for watchman worked!

[2016-03-06 00:39] jhabdas commented on #63
Superb. I released [another version](https://github.com/jhabdas/react-native-webpack-starter-kit/tree/v2.20.4) to tackle the ESLint issue for Docker users. I'm going to close this now. If you continue to have issues please open a new ticket. Either way I'd love to hear about your experiences, and any tips you come up with in this thread or in the Gitter chatroom linked from the `README`. Cheers.

[2016-03-06 00:39] #63 closed

[2016-03-06 04:49] jhabdas commented on #58
Released [a new version](https://github.com/jhabdas/react-native-webpack-starter-kit/releases/tag/v2.21.0) of the starter kit on the latest RN stable ([`v0.21.0`](https://github.com/facebook/react-native/releases/tag/v0.21.0)), which includes a host of Android goodies. Not sure if it's going to resolve this issue, but it's what I'll be using try try and replicate this issue with what information I

[2016-03-06 12:28] outdooricon opened #66 "Windows Use: watchman inotify-add-watch error"
Thank you so much for your work on this, loving the Winodws support!! I've followed your updated docs with fresh clone and images and the addition to the watchman config. Here's waht I'm seeing now after npm start in the image:

[code]

[2016-03-07 01:18] gustavovnicius commented on #58
Same thing after updating the starter kit (already cleaned the node_modules dir). Tried reinstall node (v5.7.1) and all packages again too :disappointed:
On a fresh react-native it works pretty well =/

[2016-03-07 01:21] niftylettuce commented on #58
Hey guys, from my experience, I went straight with the bundler that RN provides.  Webpack is a nightmare to work with when you want to do anything complex.  The package system is not the best in my opinion, and the amount of time you will save using the built-in packager/bundling system is wayyyy less compared to the time you'll spend trying to configure your `webpack.config.js` files.

[2016-03-07 01:22] jhabdas commented on #58
@gustavovnicius could you provide your Node, NPM and emulator version. Did you try the port forwarding run script,

[2016-03-07 01:25] jhabdas commented on #58
Thanks for the knowledge drop @niftylettuce. What kind of environment are you using? My goal is to keep things simple while helping others move forward with a simple extensible toolset.

[2016-03-07 01:31] gustavovnicius commented on #58
Sure!
node v5.7.1, npm 3.6.0 running on latest genymotion 2.6.0 / vbox 5.0.16.
After the update, running in an actual device (Android 5.0) it gives a slightly different error
![screenshot_2016-03-06-22-29-39](https://cloud.githubusercontent.com/assets/2379486/13558890/12e4f840-e3eb-11e5-9404-b83c1e88f396.jpg)

But after reloading JS, it works

[2016-03-07 01:34] niftylettuce commented on #58
@jhabdas I'm using RN v0.20 and just running `npm start` when I want to run my project.  I really don't need webpack.  With the latest version of RN, you can have custom `.babelrc` files, which the packager respects.  In older versions, you can just edit the `.babelrc` file directly in the `./node_modules/react-native` folder that the `packager.sh` script uses.  Here's what my `.babelrc` file look

[2016-03-07 01:35] niftylettuce commented on #58
My `npm start` command looks like this in `package.json`:

[code]

[2016-03-07 01:35] jhabdas commented on #58
After reloading JS, it works? Could you expand. While the default packager may seem easier I have my doubts as to its long-term efficacy while building and maintaining apps. As suggested, the goal here is to keep tooling light, and Id rather not see RN turned into a framework.

[2016-03-07 01:37] niftylettuce commented on #58
@jhabdas Yeah, Reload JS works fine for me.  The moment I switched out of all this webpack nonsense my workflow became SO much easier. I was spending 90% of the time before configuring webpack, now I don't have to configure anything, I can focus on the code and RN packages themselves, writing decorators, etc.  My key tip for ANYONE using RN is to use RN packager directly, and `.babelrc` for any co

[2016-03-07 01:38] jhabdas commented on #58
Thanks, @niftylsttuce. As a result, what changes do you feel this kit could make to best serve Android builders while continuing to provide extensible support for building apps?

[2016-03-07 01:40] jhabdas commented on #58
I have my doubts about using Babel given its immaturity. But thanks for the info.

[2016-03-07 01:45] niftylettuce commented on #58
My setup is like this:

[code]

Inside my `index.android.js` and `index.ios.js` files is the following code:

[code]

And finally inside `./src` dir, is a file `index.js`, which is completely written in ES6/7 (I have `stage-0` flag enabled in `.babelrc` (see above)).  The RN packager picks this up all relatively easily, and my app runs just fine.  Source maps work too.

I feel like this kit should

[2016-03-07 01:46] gustavovnicius commented on #58
@jhabdas It works aftter reloading, but after some changes, eventually it gives the same error again, couldn't realize why.

After some readings:
[RN JS Env](https://facebook.github.io/react-native/docs/javascript-environment.html#javascript-syntax-transformers), @niftylettuce feedback, and by looking at [RNWS](https://github.com/mjohnston/react-native-webpack-server#looking-for-a-maintainer) whic

[2016-03-07 01:47] niftylettuce commented on #58
Android works fine out of the box with the packager.  No problems there.  I add this to my `package.json` and run it whenever I'm running on a device plugged in over `adb`...

[code]

Then run it with `npm run adb-reverse`.

[2016-03-07 01:47] jhabdas commented on #58
Stage 0 seems like a bad idea to me as its too edge to build maintainable apps with. But, again, thanks for the info. There are a lot of ways to build, and it'd be great to learn from what others are doing.

[2016-03-07 01:48] niftylettuce commented on #58
Oh!  Another thing that makes life easier for Android/iOS reloading etc - is my package "Frappe".

Check it out at <https://github.com/niftylettuce/frappe>.

![frappe](https://camo.githubusercontent.com/0f5290f9fbf6fbc75ca3bff7d4b2f368296212f2/68747470733a2f2f63646e2e7261776769742e636f6d2f6e696674796c6574747563652f6672617070652f6d61737465722f6d656469612f64656d6f2e706e67)

[2016-03-07 01:54] jhabdas commented on #58
I spent time working through RN Android setup this weekend. I'm still working on it. I feel it's important to build maintainable and extensible apps. If you're interested in a quick win all have a choice on how to build. But I do not feel using the methods provided using the default RN JS language extensions is the best way to build apps either for iOS or Android.

[2016-03-08 19:24] outdooricon commented on #63
@jhabdas now that I've got the docker container going, I'm realizing that I'm not entirely sure of the workflow (this is my first foray into docker). I'm seeing that changes I make on my local clone aren't being reflected into the docker container. Also builds from the docker container aren't being transferred out into my local, so what is the workflow that you use with it?

[2016-03-08 19:34] jhabdas commented on #63
@outdooricon I saw your note in Gitter. Sorry for not replying yet as I try to keep kit updates as a weekend activity.

The next steps are to get Watchman running responsively and without error. Then there are two paths forward I can see:

- Enable updates from Docker host operating system to be recognized by `react-native-webpack-starter-kit` and `watchman` (one or both, as necessary). I've done

[2016-03-09 00:38] outdooricon commented on #63
Ah ok, sorry to double post. Fwiw, I was able to get the container to see my host files by commenting out your volume set in the dockerfile and then using this cmd to run:
[code]

This puts me at the point that I think is ideal, where I can do local dev and have the docker build off of that and into a hosts directory (once watchman works). I am seeing though that the build directory doesn't get us

[2016-03-09 02:20] jhabdas commented on #63
This is extremely useful info. Please keep it coming. Meanwhile I'll continue to look for ways to adjust the codebase. I understand it's a little magical, but it sounds like you're picking it up very quickly.

The React Native Webpack Server I'm building on I've forked before and will do again, if necessary, to achieve more broad support for RN development.

RNWS defaults output to, I believe, the

[2016-03-09 02:23] jhabdas commented on #63
If you want to generate a bundle, I left a cURL statement example in AppDelegate.m you can use to do so. It's how I produced the bundle I upload with the iOS app I built and later pulled this kit from.

[2016-03-09 02:24] jhabdas commented on #63
There's also and NPM command to run the bundle but I'm not sure if it took any collateral damage as I've been pushing the primary RN dependency forward.

[2016-03-11 20:38] stickperson opened #67 "Module AppRegistry is not a registered callable module"
I'm getting the following error while testing the app on android: `Module AppRegistry is not a registered callable module`. I cloned the repo, ran `npm install`, started running my android emulator and then ran `npm start` followed by `npm run android-setup-port` and `react-native run-android` in a separate window.

The app loads but I'm greeted by a red screen with the message. I went through the

[2016-03-11 20:39] jhabdas commented on #67
Duplicate of https://github.com/jhabdas/react-native-webpack-starter-kit/issues/58

[2016-03-11 20:39] #67 closed

[2016-03-11 20:40] jhabdas commented on #67
@stickperson I'm working to restore Android functionality. Feel free to drop anything you learn into the related issue.

[2016-03-11 20:41] stickperson commented on #67
@jhabdas will do. Sorry for the duplicate.

[2016-03-11 20:42] jhabdas commented on #67
@stickperson I just updated the title of the other issue. Yours was much more descriptive.

[2016-03-14 05:46] lucianlo commented on #66
@jhabdas

## Bundling

Building the app for distribution.

1. Execute `npm run bundle` to generate the [offline JS bundle](https://facebook.github.io/react-native/docs/running-on-device-ios.html#using-offline-bundle).
1. For iOS, update `AppDelegate.m` to load from pre-bundled file on disk.
1. Test the application, create an archive and submit to the store.

when my app's js had bundled, update `A

[2016-03-14 05:47] lucianlo opened #69 "how can i test in my real iphone"
@jhabdas

Bundling

## Bundling

Building the app for distribution.

1. Execute `npm run bundle` to generate the [offline JS bundle](https://facebook.github.io/react-native/docs/running-on-device-ios.html#using-offline-bundle).
1. For iOS, update `AppDelegate.m` to load from pre-bundled file on disk.
1. Test the application, create an archive and submit to the store.

saying that:

unable to execu

[2016-03-14 10:12] jhabdas commented on #69
Please skip Step 1 and use the cURL statement pointed at in Step 2. I'll leave this open until I rewrite the bundle step as a script to run the cURL statement mentioned. If you run into any problems, please let me know.

Also, I left some links to articles I wrote in the README to help you get to the Store with React Native.

[2016-03-16 16:59] jhabdas commented on #69
@lucianlo I ran the bundle step without issue, so there may be an issue in your environment. If you continue to experience problems please consider opening an issue against [`react-native-webpack-server`](https://github.com/mjohnston/react-native-webpack-server) as I'm calling its bundle step directly in my `bundle` script housed in `package.json` by calling `rwns bundle` (which runs the `rwns` bi

[2016-03-16 16:59] #69 closed

[2016-03-18 17:11] mpemburn commented on #30
Killing all node processes solved this one for me.  Thanks!

[2016-03-20 15:26] yves-s commented on #58
+1

[2016-03-20 15:36] jhabdas commented on #58
I'll put an hour on this today for the +1. If the example app in the RNWS repo isn't experiencing the same issue the problem shouldn't be too hard to isolate. Thanks for the nudge.

[2016-03-21 00:40] jhabdas commented on #58
Got sidetracked publishing a new blog post and I'm still stuck getting emulators functioning in the IDE.

Could someone try one of the Example RN apps in react-native-webpack-server repo and let me know if your emulator fires up without issue there?

[2016-03-21 00:57] stickperson commented on #58
Just ran the BabelES6 example in that repo and got the following screen:

![error](http://i.imgur.com/CeeEk9o.png)

[2016-03-21 01:02] jhabdas commented on #58
Thanks for checking. Next step would to to look back at older Releases of
this kit to see if there's a possible conflict with newer RN tooling. iOS
requires some modifications. And it seems Android will as well following
the latest fresh init in 2.21.
On Sun, Mar 20, 2016 at 7:57 PM Joe Meissler <notifications@github.com>
wrote:

[2016-03-22 03:14] jhabdas commented on #58
Greenkeeper just submitted https://github.com/jhabdas/react-native-webpack-starter-kit/pull/72 for RN the latest `0.22` patch, which gives a different backtrace:

[code]

After visiting the release history for this kit the error encountered upon Android simulation varies by version. I believe users have been working around the problems by using [adb and running directly devices](https://github.com

[2016-03-25 16:27] seanfuture opened #73 "[MacOS] Enable Live Reload not triggering refresh"
It appears after a brand new clone / install, running the app and then turning on the "Enable Live Reload" feature that a new transformation is triggered but the iOS Simulator doesn't detect new changes to views, for example. Perhaps I'm missing a key element.

**Steps to reproduce ( Mac OS 10.11.4, Xcode 7.3 )**
- `git clone https://github.com/jhabdas/react-native-webpack-starter-kit.git native-s

[2016-03-25 16:31] jhabdas commented on #73
Thanks for the issue, @seanfuture. As React has moved forward they've started added development workflow affordances to React Native itself, as opposed to building them into a separate project (which I imagine will happen at some point). If you look at the React Native Webpack Server repo there is example integration for Hot Reloading, though I'm not sure if it still works as RN has updated. As a

[2016-03-25 19:30] seanfuture commented on #73
Figured as much - Thanks kindly for clarifying.  Will take a look also when time permits.

[2016-03-26 20:37] yves-s commented on #58
I just tried to run an example of the react-native repo and it did work. After I got that running I again tried it with the starter kit but still the same error. I'm not sure if that helps. I'm further no it, if I have something else I will let you know.

[2016-03-28 08:49] Nickman87 commented on #58
I am experiencing the same "Module AppRegistry is not a registered callable module" error when running inside an emulator.
I did also make the android bundle by running webpack with the given config and it works perfectly on react-native-playground. The build seems to be working fine so it's not in the javascript code. The issue seems to be in the setup of reactnative?

Maybe in the react-native-w

[2016-04-11 07:15] obromios opened #85 "Readme file claims incorrectly that standard react-native init causes problems."
Your README file claims that:

I raised that as an [issue](https://github.com/facebook/react-native/issues/6892#event-621477181) on the react-native site, but the issue was closed as it was deemed that the above statement in your README was incorrect.  Can  you please either correct the README file, or reopen the  [issue](https://github.com/facebook/react-native/issues/6892#event-621477181).

[2016-04-11 10:09] jhabdas commented on #85
I'm not able to reopen the RN issue, but I certainly commented on it and tagged @ide as that issue cost me several shameful hours of debugging after an unexpected app store rejection. The bugger of it all was that everything else was correct and Apple provided no specific information as to what was causing the rejection. What finally tipped me off was that I could find no other problems; the relat

[2016-04-11 10:09] #85 closed

[2016-04-11 12:23] robmoorman opened #86 "Babel already installed as compiler"
https://facebook.github.io/react-native/docs/javascript-environment.html#javascript-syntax-transformers

[2016-04-11 12:33] jhabdas commented on #86
@robmoorman this issue provides simply a link. please reopen if you care to provide more information

[2016-04-11 12:33] #86 closed

[2016-04-12 04:09] jhabdas commented on #85
If Xcode no longer throws an error with the status bar appearance setting for iOS we should be safe to remove the customization made to this kit. Thanks for coordinating @oboramios.

[2016-04-13 11:27] ssomnoremac commented on #58
Wanted to chime in that I have been getting the "AppRegistry" error mentioned in this thread on a separate Android RN project after upgrading from RN 19.0 to 23.1. Suggest this is perhaps a RN issue and we might want to post on the main RN issues thread. We'll need some +1's.

[2016-04-15 19:51] ferologics commented on #58
Same thing for me... Completely agree with @niftylettuce, I'd deprecate this project. (sent you an email @niftylettuce)

[2016-04-15 22:56] jhabdas commented on #58
@ferologics I've never heard of a starter kit being deprecated due to a bug. Am I missing something?

[2016-04-15 23:19] jhabdas commented on #58
@ferologics I don't have any intention of deprecating project due to a bug running Android in a simulator. This project was extracted from the [Lumpen Radio](git@github.com:jhabdas/lumpen-radio.git
https://github.com/jhabdas/lumpen-radio) benefit project after delivering the iOS app to the App Store. At that time RN Android was just emerging into the RN ecosystem and, as suggested in the project `

[2016-04-19 04:32] jhabdas commented on #66
Looks like Windows users may have an option for RN dev in the future given the [recent announcement](https://blogs.windows.com/buildingapps/2016/04/13/react-native-on-the-universal-windows-platform/) Microsoft and Facebook will be collaborating on Universal Windows Platform (UWP) support for RN.

[2016-04-21 03:41] haunguyentrinh opened #91 "Can not load contents"
When i run, it display
[
![simulator screen shot apr 21 2016 10 40 52 am](https://cloud.githubusercontent.com/assets/6037041/14697398/a002857c-07ad-11e6-87d0-044aad0f7354.png)
](url)

What can i do now?

Thanks

[2016-04-21 12:37] jhabdas commented on #91
Which platform are you building?

[2016-04-21 12:39] haunguyentrinh commented on #91
hi, thank for reply, I'm building with ios

[2016-04-21 12:46] jhabdas commented on #91
You can try building with last minor release instead. I'll rebuild again
here in a moment just to ensure NPM didn't introduce a false positive with
the last RN upgrade (I test iOS before publishing latest release).
On Thu, Apr 21, 2016 at 7:39 AM haunguyentrinh <notifications@github.com>
wrote:

[2016-04-21 13:22] jhabdas commented on #91
@haunguyentrinh Built app with fresh dependency install this morning had now problems starting the app and running in the simulator. Here's my console output following `npm i` on node `v4.1.0` and npm `3.3.10`, loading Xcode and building the app:

[code]

[2016-04-21 13:22] #91 closed

[2016-04-22 06:27] haunguyentrinh commented on #91
hi @jhabdas, i have just built again with node v4.4.3 and npm v3.8.7, the error still happen, i don't know why
![aaa](https://cloud.githubusercontent.com/assets/6037041/14733531/e30f038c-088d-11e6-82e0-3f7fe2970993.png)

[2016-04-22 11:59] jhabdas commented on #91
I'd double and triple check your RN environment setup, and look for issues with Watchman. Beyond that it's hard to say without the ability to experiment on your machine. Good luck!

[2016-04-22 12:58] haunguyentrinh commented on #91
Thank you very much :). Thanks for good starter kit too.

[2016-04-22 13:00] jhabdas commented on #91
My pleasure. It helped me build with flexibility and liberation from the constraints of the RN base toolset, and I hope it helps others.

[2016-04-30 16:47] #73 closed

[2016-05-04 17:01] weidaxu1988 opened #94 "node module 'react-native-scrollable-tab-view' missing file"
I try to use node module 'react-native-scrollable-tab-view', but I got the following error

ERROR in ./~/react-native-scrollable-tab-view/DefaultTabBar.js
Module not found: Error: Cannot resolve 'file' or 'directory' ./Button in /Users/dawei/workspace/DingDong/node_modules/react-native-scrollable-tab-view
@ ./~/react-native-scrollable-tab-view/DefaultTabBar.js 10:13-32

The module export both Butt

[2016-05-04 19:05] jhabdas commented on #94
Check out Lumpen Radio Webpack config, linked from README, for example using Webpack to manage a bundle with a RN native module called react-native-video as an example. Let me know how it goes!

[2016-05-05 00:22] #94 closed

[2016-05-05 20:55] tjgillies commented on #58
I'm getting this error running on an actual device

[2016-05-05 21:41] jhabdas commented on #58
Thanks noting that @tjgillies. Just to verify, you were trying to use adb via the NPM script in the package manifest to connect and are using the required version of Android specified in the README? I'd love to debug the Android error, but it feels like it's in a downstream dep and I'm not sure where to start.

[2016-05-07 01:47] tjgillies commented on #58
I was trying to run over adb connected to wifi. When I used an actual usb cable it worked.

[2016-05-21 19:58] boulajp opened #101 "[Android] undefined is not an object (evaluating ReactPerf().injection.injectMeasure)"
This is an error that I see when trying to load an app onto my phone.

Device info:
Nexus 6p
Android 6.0.1

[2016-05-22 15:46] jhabdas commented on #101
@boulajp Unfortunately that's not enough information to debug. Please provide full recreation steps and include your current kit version, node and npm version when reopening. Thanks!

[2016-05-24 09:04] cypherq commented on #58
Isn't this issue caused because of reversing `8081` to `8080` port?

[2016-05-25 00:09] almeidarruben commented on #101
Hi,
I'm experiencing the same issue.

Everything was working fine until I update the following packages:
- `react` from `0.14.8` to `15.1.0`
- `react-native` from `0.24` to `0.26.1` or `0.26.2`

If I remove my node modules I roll back to the previous versions, everything works again.

[2016-05-28 18:54] DarrylD commented on #101
Having the same issue
npm - 3.9.2
node - 5.5.0
webpack - 1.13.1

Here is the error
![screen shot 2016-05-28 at 2 52 59 pm](https://cloud.githubusercontent.com/assets/1310383/15629311/eff0bb6e-24e3-11e6-96f2-2d11b02badb1.png)

[2016-05-28 19:10] jhabdas commented on #101
Thanks for the info. When I made the `0.26` update for the kit I tried out [`rnpm`](https://github.com/rnpm/rnpm) (as described in the [release notes](https://github.com/jhabdas/react-native-webpack-starter-kit/releases)) to do the update. Looks like it didn't work out so hot.

Until I have a chance to roll back and get my test environment set-up you can roll back to RN `0.25` by doing a `rm -rf n

[2016-05-28 19:54] DarrylD commented on #101
Thx for the fast response!

Are the above steps correct? Fairly new to RN.

New error:
![error2](https://cloud.githubusercontent.com/assets/1310383/15629639/6d43649c-24ec-11e6-8bc6-0110c51434d4.png)

[2016-05-28 19:56] jhabdas commented on #101
No problem. I'm here to help. Are you trying to run on a simulator?

[2016-05-28 20:01] DarrylD commented on #101
I am.

[2016-05-28 20:26] jhabdas commented on #101
Thanks for the info @DarrylD. This bug's a dupe of https://github.com/jhabdas/react-native-webpack-starter-kit/issues/58. Perhaps you could give http://getpepperoni.com/ a try and let me know how it works for you?

[2016-06-01 17:23] pulpfree opened #107 "Unable to run app"
After a fresh install as per README, I get the following error:
`'RCTRootView.h' file not found`
tried downgrading react and react-native with no luck.
Also tried upgrading the ios:
`'npm install -g rnpm && npm install rnpm-plugin-upgrade@0.26 --save-dev', then run 'rnpm upgrade'`
again no luck.

Thanks,
ron

[2016-06-01 17:24] jhabdas commented on #107
@pulpfree thanks for the info. NPM can be a bit finicky, so let's rule that out first. Can you share your `npm -v && node -v` so I can try and reproduce your iOS issue.

[2016-06-01 18:20] pulpfree commented on #107
`$ npm -v && node -v
3.8.9
v6.2.0`
Thanks for the quick response @jhabdas , did find something with the react version.
I downgraded react from 15.1.0 to 15.0.2 and the problem resolved.

[2016-06-01 18:22] jhabdas commented on #107
Ah yeah. I just recently pinned that. Sorry you encountered it! https://github.com/jhabdas/react-native-webpack-starter-kit/commit/ec9cbfba58e8d1d08da779a2f4c6a345899fadf6

[2016-06-01 18:22] #107 closed

[2016-06-01 18:28] pulpfree commented on #107
no worries, glad it's resolved. Great product, just upgraded from last year after project had been on haitus and was anxious to use the webpack plugins.

[2016-06-01 20:39] jhabdas commented on #107
@pulpfree that's great to hear! have fun 😄

[2016-06-02 20:24] pulpfree opened #109 "Module no found"
Having trouble loading files and think this is webpack related.
I'm using the react-native-navigation module and here is an example error:
[code]

Also loading images is baffling. I'm using a loader (see config below)
but still have trouble:
[code]
thought I had wrong path but tried everything with no luck.
Am I on the right path in regards to this being webpack related? Below is my webpack.config

[2016-06-03 01:13] jhabdas commented on #109
Thanks for the detail. Take a peek in the morning

[2016-06-03 14:58] jhabdas commented on #109
Unless you're preloading images or using a technique like [LQIP](http://www.guypo.com/introducing-lqip-low-quality-image-placeholders/) you may want to consider using something like _Image Sets_ (as in the case for iOS) to store the app assets in the bundled app. Other than that I'm not too sure to be honest. Webpack can be a complex beast at times. Here's a [list of other projects](http://habd.as

[2016-06-03 14:58] #109 closed

[2016-06-05 13:03] Smileo commented on #58
Hi @jhabdas Do you have any update about this? Thanks.

[2016-06-05 16:06] jhabdas commented on #58
@smileo need to find someone with the time and inclination to debug why the android bundles generated won't load in the simulator but will on an actual device (and RNPlay, from feedback in the thread above).

[2016-06-07 15:53] eetujalonen commented on #58
Getting the same "Module AppRegistry is not a registered callable module." when using a real Nexus 5X and running this projects example code.

[2016-06-10 13:31] weixingsun commented on #101
@jhabdas I don't think this is duplicate to #58.
I am on a real device and RN 0.26.3 , sometimes, roll back to RN 0.25 is not reasonable for a product.
Would you mind to re-open it? and do you got an idea to fix it?

[2016-06-10 16:02] jhabdas commented on #101
Reopened. To be clear this is a project not a product.

[2016-06-10 17:03] Abdenasser commented on #101
i spent last night trying to figure out what's happening, unfortunately i found **nothing**
![screenshot_2016-06-10-01-06-16](https://cloud.githubusercontent.com/assets/8364240/15972289/1602b4bc-2f2d-11e6-939b-ccff81c831ea.png)

[2016-06-10 17:11] jhabdas commented on #101
Anyone know how Pepperoni is working for Android? http://habd.as/awesome-react-boilerplates/#react-native

[2016-06-11 01:05] weixingsun commented on #101
Hi @jhabdas
I had solved this problem by using consistent version of react(15.0.2) and react-native(0.26.3)
Looks like this is an env configuration problem, and I was using react (15.1.0) , there are many other guys who were annoying about it.
Thanks for help, it should not an issue with webpack-starter-kit.

[2016-06-15 01:09] nevir commented on #58
One thing that might be related `AppRegistry.registerComponent` needs to be called when the bundle loads; if you defer it (async in any way), you get this error

[2016-06-21 14:13] jhabdas commented on #101
Thanks for the info @weixingsun. This was addressed in package manifest a while ago by pinning the react minor to the `15.0` range after I noticed the `15.1` release causing problems.

[2016-06-21 14:13] #101 closed

[2016-06-21 20:25] jhabdas commented on #58
@nevir Interesting. These bundles are generated async so perhaps that's the issue.

I spent a few hours debugging this today without any luck. But I _was_ able to develop Android with HMR using the RN CLI with `react-native run-android` after [tweaking `build.gradle`](http://stackoverflow.com/a/37360099/712334) to point to the `src/main.android.js` entry file. The whole Android Studio / Gradle exp

[2016-06-21 21:38] jhabdas commented on #30
On older versions of react this was the error message for https://github.com/jhabdas/react-native-webpack-starter-kit/issues/58

[2016-06-30 15:10] captDaylight opened #120 "Error on iOS directly after build success"
I'm using node v4.1.1, cloned repo, ran the installation command (after setting up), then npm start. Opened the xcode file, ran, and shortly after a successful build it showed the red screen with:

[code]

[2016-06-30 15:21] jhabdas commented on #120
Will try repro soon. Can you check your installed react and react-native dep versions and share for debugging?

[2016-06-30 15:30] captDaylight commented on #120
@jhabdas thanks for the quick reply, where do you want me to get the dep versions from? the output from npm install?

[2016-06-30 16:09] jhabdas commented on #120
npm ls | grep react will output them
On Thu, Jun 30, 2016 at 10:30 AM captDaylight <notifications@github.com>
wrote:

--
Josh J Habdas
Principal Engineer
Comfusion LLC
tel: +1 (630) 290-3542
http://habd.as

[2016-06-30 16:14] captDaylight commented on #120
react-native-webpack-starter-kit@0.1.0 /Users/paulchristophe/projects/native-starter-kit/native-starter-kit
├─┬ babel-preset-react@6.11.1
│ ├─┬ babel-plugin-transform-react-display-name@6.8.0
│ ├─┬ babel-plugin-transform-react-jsx@6.8.0
│ │ ├─┬ babel-helper-builder-react-jsx@6.9.0
│ ├─┬ babel-plugin-transform-react-jsx-self@6.11.0
│ └─┬ babel-plugin-transform-react-jsx-source@6.9.0
├─┬ eslint-plug

[2016-07-01 03:11] jhabdas commented on #120
Thanks again for the report. I used NVM to install node 4.1.1 and was not able to reproduce this issue. You may want to check your environment or reinstall node modules. Good luck!

[2016-07-01 03:11] #120 closed

[2016-07-08 12:43] chrisbenseler opened #126 "Can't run android-setup-port"
Following the README, i installed the dependencies (npm install) and
_npm run android-setup-port_

gives me the output:

running node 5.7

Do I have to set anything else?
My device is listed when I do "adb devices" on the CLI.

[2016-07-08 12:47] jhabdas commented on #126
The RN packager runs on 8081 after running npm start. Is your packager running?

[2016-07-08 13:01] chrisbenseler commented on #126
I've missed that. Thanks, now I'm running it and it's ok.

[2016-07-08 13:01] #126 closed

[2016-07-08 13:03] jhabdas commented on #126
No problem. Would it be helpful if I created a video of the application starting? Sometimes it can take a minute and I know that throws people off. Happy hacking!

[2016-07-11 12:15] chrisbenseler commented on #126
@jhabdas I don't htink it's necessary. It was my mistake - I was in a hurry and didn't pay enough attention to the steps in the readme file.

[2016-07-24 12:22] E-P1983 opened #134 "[fatal][tid:main] Unable to execute JS call: __fbBatchedBridge is undefined"
Whenever I try to create a offline bundle with the directions given I get the error:

[fatal][tid:main] Unable to execute JS call: __fbBatchedBridge is undefined

I tried different solutions using https://github.com/facebook/react-native/issues/5770 but currently I'm stuck.

I don't know if this is related to the starter kit or not, so any tips/hints/pointers to rule out the starter kit and the wa

[2016-07-24 14:37] jhabdas commented on #134
@E-P1983 Thanks for the report and sorry for your troubles. I was able to replicate with kit version `v2.29.0` and also tried a few of the suggestions in the linked open issue, including:

- Hacking the `react-native.xcode.sh` bash script
- Setting the Scheme to _Release_ mode

Unfortunately, I was not able to get past the error and can't afford much time right now to address it. Because this kit

[2016-07-28 18:56] egauci commented on #134
Here's what finally worked for me.

I saw a suggestion to reinstall watchman. I had installed that with brew, so I did "brew reinstall watchman"

When that completed, I restarted the computer.

After that, things worked!

I don't know if that will fix it for everyone, but its worth a shot.

[2016-07-30 18:19] jhabdas commented on #134
Thanks for the update, @egauci. Glad you got it working! There's no doubt this will come in handy for someone. :) Cheers

[2016-07-30 18:19] #134 closed

[2016-08-14 03:08] EEmmanuel commented on #30
thanks ... Killing all node processes...

[2016-09-27 17:43] RyanCCollins commented on #2
Man, I see you everywhere now @jhabdas .,  I just had this same issue, too! Haha.

[2016-09-27 17:44] jhabdas commented on #2
^^

[2016-10-05 16:16] icron opened #156 "Docker error"
I use docker on windows 10.

npm WARN cannot run in wd react-native-webpack-starter-kit@0.1.0 npm run snyk-protect (wd=/app)
npm ERR! Linux 4.4.20-moby
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "--development"
npm ERR! node v4.6.0
npm ERR! npm  v2.15.9
npm ERR! code EPEERINVALID

npm ERR! peerinvalid The package react@15.3.2 does not satisfy its siblings' peerDependencies

[2016-10-06 23:13] amilajack opened #157 "PR: Add support for `eslint-plugin-flowtype-errors`"
This plugin allows flow to be run as an eslint plugin 🎉 Would a PR for this be welcome?

![ESLint Flow Demo](https://github.com/amilajack/eslint-plugin-flowtype-errors/blob/master/flow-demo.gif?raw=true)

[2016-10-07 00:29] jhabdas commented on #157
Hell yeah it would!

[2016-10-18 16:41] jhabdas commented on #157
Sub pull at your leisure

[2016-10-18 16:41] #157 closed

[2016-10-18 16:43] amilajack commented on #157
Sorry that I didn't follow up on this! I'll PR now.

[2016-10-18 16:44] jhabdas commented on #156
RN is tightly coupled with React as a separate dependency. To fix the issue modify package manifest and give RN the React peer it wants

[2016-10-18 16:44] #156 closed

[2016-10-18 16:47] jhabdas commented on #157
No sweat @amilajack. I'm sure if you do someone will find value. Though deprecated, this project still sees ~4K visitors / mo.

[2016-10-18 16:49] amilajack commented on #157
Why was this deprecated? 😢

[2016-10-18 23:07] jhabdas commented on #157
I main reason I deprecated it because I couldn't get RN versions after the current version in the manifest working properly. Be happy to bring it back to life if we can get it working with `0.35`. I'll give it a show with your PR tomorrow :)

https://github.com/jhabdas/react-native-webpack-starter-kit/pull/158

[2016-12-01 16:59] Shoshin23 commented on #30
For me the issue was the modulename I was using in the appRegistry.registercomponent method. Just giving an alternative to people who've tried the above.

[2017-06-24 09:04] damiaozi commented on #4
what can i do?
Module not found: Error: Can't resolve 'react-native/Libraries/EventEmitter/EventEmitter' in

[2018-10-30 11:53] jhabdas commented on #9
I just want to remind you what a huge asshole you were to me. Fag